streamlit>=1.36
pandas>=2.0
sqlalchemy>=2.0
pydantic>=2.0
python-dateutil>=2.8
requests>=2.32.3
yfinance>=0.2.40
OpenDartReader>=0.2.3
streamlit-searchbox>=0.1.4
finance-datareader>=0.9.35
pykis
python-kis
websocket-client>=1.8.0
cryptography>=43.0.0
colorlog>=6.8.2
